
<%- include('../layout/header') %>

<link rel="stylesheet" href="/css/user-side/eye.css">

<%- include('../layout/navbarH') %>


<%- include('../layout/navbarF') %>

<link href="css/cdn/shop/t/56/assets/customerc0ce.css?v=75781396961915267131705141211" rel="stylesheet" type="text/css" media="all" />
<div class="customer register">
	<div class="container">
		<div class="customer__inner">
			<div class="page-header page-account__header text-center">
				<h1 class="main-page-title page-title m-0">
					
                              Forgot Password
				</h1>
			</div>
			<form method="POST" action="/forgotPassword" id="create_customer">
				<div class="mb-3 mb-lg-4">
				    <label class="form-label" for="RegisterForm-email">
					  Email <span id="invalid-Email" class="text-danger" style="display: none;">Please enter a valid Email</span>
				    </label>
				    <input class="form-control" type="email" name="email" id="RegisterForm-email" spellcheck="false" autocapitalize="off" autocomplete="email" aria-required="true" required placeholder="Email">
				</div>
			  
				<div class="mb-3 mb-lg-4">
				    <label class="form-label" for="RegisterForm-password">
					 New Password <span id="invalid-pass" class="text-danger" style="display: none;"> The password is at least 8 characters long and contains both letters and numbers</span>
				    </label>
				    <div class="input-group">
					  <input class="form-control" type="password" name="password" id="RegisterForm-password" aria-required="true" required placeholder="Password">
					  <span class="input-group-text password-toggle-icon">
						<i class="bi bi-eye-slash-fill"></i>
					  </span>
				    </div>
				</div>
			  
				<div class="mb-3 mb-lg-4">
				    <label class="form-label" for="RegisterForm-confirm-password">
					  Confirm Password <span id="invalid-confirmpass" class="text-danger" style="display: none;"> password  is not same</span>
				    </label>
				    <div class="input-group">
					  <input class="form-control" type="password" name="confirmPassword" id="RegisterForm-confirm-password" aria-required="true" required placeholder="confirmPassword">
					  <span class="input-group-text password-toggle-icon">
						<i class="bi bi-eye-slash-fill"></i>
					  </span>
				    </div>
				</div>
				
				<div class="d-flex justify-content-between align-items-center pt-2">
				    <button class="btn btn-default">
					  <span>Submit</span>
				    </button>
				    <a href="/login">
					  <u>Login</u>
				    </a>
				</div>
			  </form>
			</div>
	</div>
</div>




<%- include('../layout/footer') %>