


<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <style>
  .confirmation-box {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
  }
  .confirmation-box .icon {
    font-size: 50px;
    color: #4caf50;
  }
  .confirmation-box h1 {
    font-size: 24px;
    margin: 20px 0;
  }
  .confirmation-box p {
    font-size: 16px;
    color: #555;
  }
  .confirmation-box button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
</head>
<body>
<div class="confirmation-box">
  <div class="icon">
    &#10004;
  </div>
  <h1>Awesome!</h1>
  <p>Your Order has been confirmed.<br></p>
  <button onclick="window.location.href='/traking-order'">OK</button>
</div> -->

<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body> -->
