
<!doctype html>
<html class="no-js" lang="en">
	
<!-- Mirrored from vela-kazan.myshopify.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 May 2024 14:31:21 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="">
		 <link rel="canonical" href="index.html"> 
		
			<link rel="icon" href="css/cdn/shop/files/icon0d7f.png?crop=center&amp;height=32&amp;v=1613719979&amp;width=32" type="image/png">
			<!-- iPad icons -->
			<link rel="apple-touch-icon-precomposed" href="css/cdn/shop/files/icon7475.png?crop=center&amp;height=48&amp;v=1613719979&amp;width=48" type="image/png">
			<link rel="nokia-touch-icon" href="css/cdn/shop/files/icon7475.png?crop=center&amp;height=48&amp;v=1613719979&amp;width=48" type="image/png">
		
                   <link rel="preconnect" href="https://fonts.googleapis.com/">
			<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin><title>Outstock</title>

		
			<meta name="description" content="Fashion, Apparel, Electronics, Tools, Lingerie, Glasses, Furniture, Jewelry, Bikes, Cosmetics, Gifts, Handmade store. Try new premium multipurpose Shopify theme from Elite Author velatheme. velatheme Shopify theme is new approach to ecommerce web development.">
		

		

<meta property="og:site_name" content="Outstock">
<meta property="og:url" content="index.html">
<meta property="og:title" content="Shopify - Outstock Clean, Minimal , Drag &amp; Drop">
<meta property="og:type" content="website">
<meta property="og:description" content="Fashion, Apparel, Electronics, Tools, Lingerie, Glasses, Furniture, Jewelry, Bikes, Cosmetics, Gifts, Handmade store. Try new premium multipurpose Shopify theme from Elite Author velatheme. velatheme Shopify theme is new approach to ecommerce web development.">
<meta property="og:image" content="cdn/shop/files/logo_dark61a4.svg?v=1676480977">
  <meta property="og:image:secure_url" content="cdn/shop/files/logo_dark61a4.svg?v=1676480977">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628"><meta name="twitter:site" content="@https://twitter.com"><meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Shopify - Outstock Clean, Minimal , Drag &amp; Drop">
<meta name="twitter:description" content="Fashion, Apparel, Electronics, Tools, Lingerie, Glasses, Furniture, Jewelry, Bikes, Cosmetics, Gifts, Handmade store. Try new premium multipurpose Shopify theme from Elite Author velatheme. velatheme Shopify theme is new approach to ecommerce web development.">

             <!-- bootstrap icons  -->
             <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
             <!--  -->


		        <link rel="stylesheet" href="css/cdn/shop/t/54/assets/component-predictive-searcha2ea.css?v=80391028394386297811692691064" media="print" onload="this.media='all'">
            <link href="css/cdn/shop/t/54/assets/bootstrap331d.css?v=25031691784384383041692673660" rel="stylesheet" type="text/css" media="all" />
            <link href="css/cdn/shop/t/54/assets/theme3cfb.css?v=83786862543469037371693385340" rel="stylesheet" type="text/css" media="all" />
            <link href="css/cdn/shop/t/54/assets/vendor.min3468.css?v=124627652501441062811690771801" rel="stylesheet" type="text/css" media="all" />
            <link href="css/cdn/shop/t/54/assets/component-cart-drawer4002.css?v=84322889587244677151705027460" rel="stylesheet" type="text/css" media="all" />
		<script>
  window.vela = window.vela || {};
  vela.strings = {
    shop_money_with_currency_format: "${{amount}} USD",
    shop_money_format: "${{amount}}",
    currency: "USD",
    moneyFormat: "\u003cspan class=money\u003e${{amount}}\u003c\/span\u003e",
    zoomClose: "Close (Esc)",
    zoomPrev: "Previous (Left arrow key)",
    zoomNext: "Next (Right arrow key)",
    productSlideLabel: "Slide [slide_number] of [slide_max].",
    countdownDays: "Days",
    countdownHours: "Hours",
    countdownMinutes: "Mins",
    countdownSeconds: "Secs",
    countdownFinish: "This offer has expired!",
    addToCart: "Add to Cart",
    preOrder: "Pre-order",
    preOrderLabel: "Pre_order",
    soldOut: "Sold Out",
    unavailable: "Unavailable",
    inStock: "In stock",
    outStock: "Out of stock",
    cartEmpty: "Your cart is empty",
    cartCookies: "Enable cookies to use the shopping cart",
    newsletterSuccess: "Thanks for subscribing",
    add_to_wishlist: 'Add to wishlist',
    remove_wishlist: 'Remove Wishlist'
  };
  vela.settings = {
    currencies: false,
    cartType: "drawer",
    enableReview: true,
    enablePreLoading: true,
    enableQuickView: true,
    quickViewVariantType: "radio",
    quickViewColorSwatch: true,
    quickViewImageSwatch: false,
    enableWishlist: true,
    fileURL: "//vela-kazan.myshopify.com/css/cdn/shop/files/",
    cartNoteEnable: true,
    shippingCalcEnable: true,
    preOrderEnable: true,
    preOrderType: "nopopup",shippingBarEnable: true,shippingCalcSubmitButton: "Estimate",
      shippingCalcSubmitButtonDisabled: "Estimating...",
      shippingCalcMessSuccess: "Shipping rate for",
      shippingCalcMessSuccess1: "We do not ship to this address",
      
      shippingCalcMessError: "Enter a valid ZIP code for"
};
  vela.loading = '<div class="vela-loading"><div class="vela-loading__icon"><span></span><span></span><span></span><span></span></div></div>';
</script>

<script src="css/cdn/shopifycloud/shopify/assets/themes_support/shopify_common-33bb9d312118840468a53f36b59c62c1e8f2b7d1a0a77250db9e300441827470.js" type="text/javascript"></script>
<script src="css/cdn/shop/t/54/assets/vendor.min6ba1.js?v=162714921228786800891690771801" type="text/javascript"></script>
<script src="css/cdn/shop/t/54/assets/estimate-shipping.min120a.js?v=95188938623092609561690771801" type="text/javascript"></script>
<script src="css/cdn/shop/t/54/assets/global29f3.js?v=38681825317760340971690771801" defer="defer"></script>
		<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script>
            <meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/15735553/digital_wallets/dialog">
<script async="async" src="checkouts/internal/preloadsd568.js?locale=en-IN"></script>
<script async="async" src="../shop.app/checkouts/internal/preloads7ef7.js?locale=en-IN&amp;shop_id=15735553" crossorigin="anonymous"></script>
<script id="shopify-features" type="application/json">{"accessToken":"cd39602f2b62b2b8df6ef8fc586643f7","betas":["rich-media-storefront-analytics"],"domain":"vela-kazan.myshopify.com","predictiveSearch":true,"shopId":15735553,"smart_payment_buttons_url":"https:\/\/vela-kazan.myshopify.com\/cdn\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js","dynamic_checkout_cart_url":"https:\/\/vela-kazan.myshopify.com\/cdn\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js","locale":"en","flg4ff40b22":true}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "vela-kazan.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"USD","rate":"1.0"};
Shopify.country = "IN";
Shopify.theme = {"name":"Furniture-home01","id":124801876033,"theme_store_id":null,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "vela-kazan.myshopify.com/cdn";
Shopify.routes = Shopify.routes || {};
Shopify.routes.root = "index.html";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script id="shop-js-features" type="application/json">{"compact":""}</script>
<script>(function() {
  function asyncLoad() {
    var urls = ["\/\/productreviews.shopifycdn.com\/embed\/loader.js?shop=vela-kazan.myshopify.com"];
    for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
  };
  if(window.attachEvent) {
    window.attachEvent('onload', asyncLoad);
  } else {
    window.addEventListener('load', asyncLoad, false);
  }
})();</script>
<script id="__st">var __st={"a":15735553,"offset":-39600,"reqid":"afa775c8-6d24-4bd4-a69a-bf2e0e9a234c-1714660280","pageurl":"vela-kazan.myshopify.com\/","u":"99bad9c8d34f","p":"home"};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script integrity="sha256-n5Uet9jVOXPHGd4hH4B9Y6+BxkTluaaucmYaxAjUcvY=" data-source-attribution="shopify.loadfeatures" defer="defer" src="css/cdn/shopifycloud/shopify/assets/storefront/load_feature-9f951eb7d8d53973c719de211f807d63af81c644e5b9a6ae72661ac408d472f6.js" crossorigin="anonymous"></script>
<script integrity="sha256-HAs5a9TQVLlKuuHrahvWuke+s1UlxXohfHeoYv8G2D8=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="css/cdn/shopifycloud/shopify/assets/storefront/features-1c0b396bd4d054b94abae1eb6a1bd6ba47beb35525c57a217c77a862ff06d83f.js" crossorigin="anonymous"></script>
<script id="sections-script" data-sections="header" defer="defer" src="css/cdn/shop/t/54/compiled_assets/scriptse6fb.js?17432"></script>

<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&amp;display=swap" rel="stylesheet">
<link rel="preload" as="font" href="css/cdn/fonts/poppins/poppins_n5.25334cd7ff48c81cfd51a6bc5a81d92a1b4d45018358.woff2?h1=dmVsYS1rYXphbi5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;hmac=b588eb9ccd7a2f8c2c69f52b49cfe506a74ed34e112f2008633d792ac9e32100" type="font/woff2" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&amp;display=swap" rel="stylesheet"><style data-shopify>
:root {--font-body-family: 'Poppins', sans-serif;
			--font-body-style: 'normal';
			--font-body-weight: '400';--font-heading-family: 'Poppins', sans-serif;
			--font-heading-style: 'normal';
			--font-heading-weight: 500;--font-special-family: 'Rubik', sans-serif;--font-size-heading: 36px;
		--font-size-heading-mobile: 28px;;

		--font-size-base: 14px;
		--primary: #bd8448;
		--primary-light: rgba(189, 132, 72, 0.7);
		--secondary: #333e48;
		--body-color: #606060;
		--body-color-light: #c3c3c3;
		
		--body-bg: #ffffff;
		--heading-color: #201f1f;
		--color-link: #201f1f;
		--color-link-hover: var(--primary);
		--border-color: #ebebeb;
		--border-light-color: #f5f5f5;
    	--shadow: 0px 6px 15px rgba(0, 0, 0, .12);
		--button-border-radius: 30px;
	
		--menu-font-size: 14px;
		--menu-dropdown-font-size: 12px;
		--menu-bg: #ffffff;
		--menu-color: #a3a3a3;
		--menu-hover-color: #323232;
		--menu-dropdown-bg: #ffffff;
		--menu-dropdown-color: #a3a3a3;
		--menu-dropdown-hover-color: #323232;

		--vertical-menu-font-size: px;
		--vertical-menu-dropdown-font-size: px;
		--vertical-menu-bg: ;
		--vertical-menu-color: #333e48;
		--vertical-menu-hover-color: #b11e22;
		--vertical-menu-dropdown-bg: ;
		--vertical-menu-dropdown-color: #858a8d;
		--vertical-menu-dropdown-hover-color: #333e43;

		--breadcrumb-bg: var(--body-bg);
		--breadcrumb-heading-color: var(--heading-color);
		--breadcrumb-color: var(--heading-color);
		--breadcrumb-color-link: var(--heading-color);

		--btn-default-color: #ffffff;
		--btn-default-border-color: #323232;
		--btn-default-bg-color: #323232;
		--btn-default-hover-color: #ffffff;
		--btn-default-hover-border-color: #bd8448;
		--btn-default-hover-bg-color: #bd8448;

		--new-badge-color: #ffffff;
		--new-badge-bg-color: #df0606;
		--sale-badge-color: #ffffff;
		--sale-badge-bg-color: #bc8246;
		--sold-out-badge-color: #222;
		--sold-out-badge-bg-color: #ffc107;
		--pre-order-badge-color: #ffffff;
		--pre-order-badge-bg-color: #0dcaf0;
		
		--product-name-color: #8c8c8c;
		--product-name-hover-color: var(--primary);
		
		--letter-spacing-half: .5px;
		--letter-spacing-1: 1px;

		
		--bs-body-font-family: var(--font-body-family);
		--bs-body-font-weight: var(--font-body-weight);
		--bs-body-font-size: var(--font-size-base);
		--bs-body-color: #606060;
		--bs-body-bg: #ffffff;
		--bs-primary: #bd8448;
		--bs-primary-rgb: 189, 132, 72
	}
</style>
		<script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
	<link href="https://monorail-edge.shopifysvc.com/" rel="dns-prefetch">
<script>(function(){if ("sendBeacon" in navigator && "performance" in window) {var session_token = document.cookie.match(/_shopify_s=([^;]*)/);function handle_abandonment_event(e) {var entries = performance.getEntries().filter(function(entry) {return /monorail-edge.shopifysvc.com/.test(entry.name);});if (!window.abandonment_tracked && entries.length === 0) {window.abandonment_tracked = true;var currentMs = Date.now();var navigation_start = performance.timing.navigationStart;var payload = {shop_id: 15735553,url: window.location.href,navigation_start,duration: currentMs - navigation_start,session_token: session_token && session_token.length === 2 ? session_token[1] : "",page_type: "index"};window.navigator.sendBeacon("https://monorail-edge.shopifysvc.com/v1/produce", JSON.stringify({schema_id: "online_store_buyer_site_abandonment/1.1",payload: payload,metadata: {event_created_at_ms: currentMs,event_sent_at_ms: currentMs}}));}}window.addEventListener('pagehide', handle_abandonment_event);}}());</script>
<script id="web-pixels-manager-setup">(function e(e,n,a,t,r){var o="function"==typeof BigInt&&-1!==BigInt.toString().indexOf("[native code]")?"modern":"legacy";window.Shopify=window.Shopify||{};var i=window.Shopify;i.analytics=i.analytics||{};var s=i.analytics;s.replayQueue=[],s.publish=function(e,n,a){return s.replayQueue.push([e,n,a]),!0};try{self.performance.mark("wpm:start")}catch(e){}var l=[a,"/wpm","/b",r,o.substring(0,1),".js"].join("");!function(e){var n=e.src,a=e.async,t=void 0===a||a,r=e.onload,o=e.onerror,i=document.createElement("script"),s=document.head,l=document.body;i.async=t,i.src=n,r&&i.addEventListener("load",r),o&&i.addEventListener("error",o),s?s.appendChild(i):l?l.appendChild(i):console.error("Did not find a head or body element to append the script")}({src:l,async:!0,onload:function(){var a=window.webPixelsManager.init(e);n(a);var t=window.Shopify.analytics;t.replayQueue.forEach((function(e){var n=e[0],t=e[1],r=e[2];a.publishCustomEvent(n,t,r)})),t.replayQueue=[],t.publish=a.publishCustomEvent,t.visitor=a.visitor},onerror:function(){var n=e.storefrontBaseUrl.replace(/\/$/,""),a="".concat(n,"/.well-known/shopify/monorail/unstable/produce_batch"),r=JSON.stringify({metadata:{event_sent_at_ms:(new Date).getTime()},events:[{schema_id:"web_pixels_manager_load/2.0",payload:{version:t||"latest",page_url:self.location.href,status:"failed",error_msg:"".concat(l," has failed to load")},metadata:{event_created_at_ms:(new Date).getTime()}}]});try{if(self.navigator.sendBeacon.bind(self.navigator)(a,r))return!0}catch(e){}var o=new XMLHttpRequest;try{return o.open("POST.html",a,!0),o.setRequestHeader("Content-Type","text/plain"),o.send(r),!0}catch(e){console&&console.warn&&console.warn("[Web Pixels Manager] Got an unhandled error while logging a load error.")}return!1}})})({shopId: 15735553,storefrontBaseUrl: "https://vela-kazan.myshopify.com",cdnBaseUrl: "https://vela-kazan.myshopify.com/css/cdn",surface: "storefront-renderer",enabledBetaFlags: ["5de24938","3b4293f9"],webPixelsConfigList: [{"id":"shopify-app-pixel","configuration":"{}","eventPayloadVersion":"v1","runtimeContext":"STRICT","scriptVersion":"064","apiClientId":"shopify-pixel","type":"APP","purposes":["ANALYTICS","MARKETING"]},{"id":"shopify-custom-pixel","eventPayloadVersion":"v1","runtimeContext":"LAX","scriptVersion":"064","apiClientId":"shopify-pixel","type":"CUSTOM","purposes":["ANALYTICS","MARKETING"]}],initData: {"cart":null,"checkout":null,"customer":null,"productVariants":[]},},function pageEvents(webPixelsManagerAPI) {webPixelsManagerAPI.publish("page_viewed");},"cdn.html","c157e660c1df6c6d62156dca28587468ee5731eb","4b0714a5we2075becp6bfc88a7mb2acf37a",);</script>  

<script>
window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'USD';
var meta = {"page":{"pageType":"home"}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  
};
</script>
<script class="analytics">(function () {
    var customDocumentWrite = function(content) {
      var jquery = null;

      if (window.jQuery) {
        jquery = window.jQuery;
      } else if (window.Checkout && window.Checkout.$) {
        jquery = window.Checkout.$;
      }

      if (jquery) {
        jquery('body').append(content);
      }
    };

    var hasLoggedConversion = function(token) {
      if (token) {
        return document.cookie.indexOf('loggedConversion=' + token) !== -1;
      }
      return false;
    }

    var setCookieIfConversion = function(token) {
      if (token) {
        var twoMonthsFromNow = new Date(Date.now());
        twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

        document.cookie = 'loggedConversion=' + token + '; expires=' + twoMonthsFromNow;
      }
    }

    var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
    if (trekkie.integrations) {
      return;
    }
    trekkie.methods = [
      'identify',
      'page',
      'ready',
      'track',
      'trackForm',
      'trackLink'
    ];
    trekkie.factory = function(method) {
      return function() {
        var args = Array.prototype.slice.call(arguments);
        args.unshift(method);
        trekkie.push(args);
        return trekkie;
      };
    };
    for (var i = 0; i < trekkie.methods.length; i++) {
      var key = trekkie.methods[i];
      trekkie[key] = trekkie.factory(key);
    }
    trekkie.load = function(config) {
      trekkie.config = config || {};
      trekkie.config.initialDocumentCookie = document.cookie;
      var first = document.getElementsByTagName('script')[0];
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.onerror = function(e) {
        var scriptFallback = document.createElement('script');
        scriptFallback.type = 'text/javascript';
        scriptFallback.onerror = function(error) {
                var Monorail = {
      produce: function produce(monorailDomain, schemaId, payload) {
        var currentMs = new Date().getTime();
        var event = {
          schema_id: schemaId,
          payload: payload,
          metadata: {
            event_created_at_ms: currentMs,
            event_sent_at_ms: currentMs
          }
        };
        return Monorail.sendRequest("https://" + monorailDomain + "/v1/produce", JSON.stringify(event));
      },
      sendRequest: function sendRequest(endpointUrl, payload) {
        // Try the sendBeacon API
        if (window && window.navigator && typeof window.navigator.sendBeacon === 'function' && typeof window.Blob === 'function' && !Monorail.isIos12()) {
          var blobData = new window.Blob([payload], {
            type: 'text/plain'
          });

          if (window.navigator.sendBeacon(endpointUrl, blobData)) {
            return true;
          } // sendBeacon was not successful

        } // XHR beacon

        var xhr = new XMLHttpRequest();

        try {
          xhr.open('POST.html', endpointUrl);
          xhr.setRequestHeader('Content-Type', 'text/plain');
          xhr.send(payload);
        } catch (e) {
          console.log(e);
        }

        return false;
      },
      isIos12: function isIos12() {
        return window.navigator.userAgent.lastIndexOf('iPhone; CPU iPhone OS 12_') !== -1 || window.navigator.userAgent.lastIndexOf('iPad; CPU OS 12_') !== -1;
      }
    };
    Monorail.produce('monorail-edge.shopifysvc.com',
      'trekkie_storefront_load_errors/1.1',
      {shop_id: 15735553,
      theme_id: 124801876033,
      app_name: "storefront",
      context_url: window.location.href,
      source_url: "//vela-kazan.myshopify.com/css/cdn/s/trekkie.storefront.88baf04046928b6edf6574afd22dbd026cc7d568.min.js"});

        };
        scriptFallback.async = true;
        scriptFallback.src = 'css/cdn/s/trekkie.storefront.88baf04046928b6edf6574afd22dbd026cc7d568.min.js';
        first.parentNode.insertBefore(scriptFallback, first);
      };
      script.async = true;
      script.src = 'css/cdn/s/trekkie.storefront.88baf04046928b6edf6574afd22dbd026cc7d568.min.js';
      first.parentNode.insertBefore(script, first);
    };
    trekkie.load(
      {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":15735553,"isMerchantRequest":null,"themeId":124801876033,"themeCityHash":"8208568285088392689","contentLanguage":"en","currency":"USD"},"isServerSideCookieWritingEnabled":true,"monorailRegion":"shop_domain","enabledBetaFlags":["bbcf04e6"]},"Session Attribution":{},"S2S":{"facebookCapiEnabled":false,"source":"trekkie-storefront-renderer"}}
    );

    var loaded = false;
    trekkie.ready(function() {
      if (loaded) return;
      loaded = true;

      window.ShopifyAnalytics.lib = window.trekkie;

  
      var originalDocumentWrite = document.write;
      document.write = customDocumentWrite;
      try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
      document.write = originalDocumentWrite;

      window.ShopifyAnalytics.lib.page(null,{"pageType":"home"});

      var match = window.location.pathname.match(/checkouts\/(.+)\/(thank_you|post_purchase)/)
      var token = match? match[1]: undefined;
      if (!hasLoggedConversion(token)) {
        setCookieIfConversion(token);
        
      }
    });


        var eventsListenerScript = document.createElement('script');
        eventsListenerScript.async = true;
        eventsListenerScript.src = "css/cdn/shopifycloud/shopify/assets/shop_events_listener-61fa9e0a912c675e178777d2b27f6cbd482f8912a6b0aa31fa3515985a8cd626.js";
        document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

})();</script>
<script class="boomerang">
(function () {
  if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
    return;
  }
  window.BOOMR = window.BOOMR || {};
  window.BOOMR.snippetStart = new Date().getTime();
  window.BOOMR.snippetExecuted = true;
  window.BOOMR.snippetVersion = 12;
  window.BOOMR.application = "storefront-renderer";
  window.BOOMR.themeName = "Outstock_Furniture01";
  window.BOOMR.themeVersion = "5.0";
  window.BOOMR.shopId = 15735553;
  window.BOOMR.themeId = 124801876033;
  window.BOOMR.renderRegion = "gcp-asia-southeast1";
  window.BOOMR.url =
    "css/cdn/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js";
  var where = document.currentScript || document.getElementsByTagName("script")[0];
  var parentNode = where.parentNode;
  var promoted = false;
  var LOADER_TIMEOUT = 3000;
  function promote() {
    if (promoted) {
      return;
    }
    var script = document.createElement("script");
    script.id = "boomr-scr-as";
    script.src = window.BOOMR.url;
    script.async = true;
    parentNode.appendChild(script);
    promoted = true;
  }
  function iframeLoader(wasFallback) {
    promoted = true;
    var dom, bootstrap, iframe, iframeStyle;
    var doc = document;
    var win = window;
    window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
    bootstrap = function(parent, scriptId) {
      var script = doc.createElement("script");
      script.id = scriptId || "boomr-if-as";
      script.src = window.BOOMR.url;
      BOOMR_lstart = new Date().getTime();
      parent = parent || doc.body;
      parent.appendChild(script);
    };
    if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]./)) {
      window.BOOMR.snippetMethod = "s";
      bootstrap(parentNode, "boomr-async");
      return;
    }
    iframe = document.createElement("IFRAME");
    iframe.src = "about:blank";
    iframe.title = "";
    iframe.role = "presentation";
    iframe.loading = "eager";
    iframeStyle = (iframe.frameElement || iframe).style;
    iframeStyle.width = 0;
    iframeStyle.height = 0;
    iframeStyle.border = 0;
    iframeStyle.display = "none";
    parentNode.appendChild(iframe);
    try {
      win = iframe.contentWindow;
      doc = win.document.open();
    } catch (e) {
      dom = document.domain;
      iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
      win = iframe.contentWindow;
      doc = win.document.open();
    }
    if (dom) {
      doc._boomrl = function() {
        this.domain = dom;
        bootstrap();
      };
      doc.write("<body onload='document._boomrl();'>");
    } else {
      win._boomrl = function() {
        bootstrap();
      };
      if (win.addEventListener) {
        win.addEventListener("load", win._boomrl, false);
      } else if (win.attachEvent) {
        win.attachEvent("onload", win._boomrl);
      }
    }
    doc.close();
  }
  var link = document.createElement("link");
  if (link.relList &&
    typeof link.relList.supports === "function" &&
    link.relList.supports("preload") &&
    ("as" in link)) {
    window.BOOMR.snippetMethod = "p";
    link.href = window.BOOMR.url;
    link.rel = "preload";
    link.as = "script";
    link.addEventListener("load", promote);
    link.addEventListener("error", function() {
      iframeLoader(true);
    });
    setTimeout(function() {
      if (!promoted) {
        iframeLoader(true);
      }
    }, LOADER_TIMEOUT);
    BOOMR_lstart = new Date().getTime();
    parentNode.appendChild(link);
  } else {
    iframeLoader(false);
  }
  function boomerangSaveLoadTime(e) {
    window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
  }
  if (window.addEventListener) {
    window.addEventListener("load", boomerangSaveLoadTime, false);
  } else if (window.attachEvent) {
    window.attachEvent("onload", boomerangSaveLoadTime);
  }
  if (document.addEventListener) {
    document.addEventListener("onBoomerangLoaded", function(e) {
      e.detail.BOOMR.init({
        ResourceTiming: {
          enabled: true,
          trackedResourceTypes: ["script", "img", "css"]
        },
      });
      e.detail.BOOMR.t_end = new Date().getTime();
    });
  } else if (document.attachEvent) {
    document.attachEvent("onpropertychange", function(e) {
      if (!e) e=event;
      if (e.propertyName === "onBoomerangLoaded") {
        e.detail.BOOMR.init({
          ResourceTiming: {
            enabled: true,
            trackedResourceTypes: ["script", "img", "css"]
          },
        });
        e.detail.BOOMR.t_end = new Date().getTime();
      }
    });
  }
})();
</script>
</head>

	<body id="shopify-outstock-clean-minimal-drag-amp-drop" class="template-index ">
